In [23]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
from db_connection import connect_to_db
import pandas as pd
import pymysql
import warnings

In [24]:
credentials = connect_to_db()

In [25]:
warnings.filterwarnings("ignore", category=UserWarning, message="pandas only supports SQLAlchemy connectable")

In [26]:
engine = create_engine(f'mysql+pymysql://{credentials['user']}:{credentials['password']}@{credentials['host']}/{credentials['database']}')
sql_engine = engine.connect().connection
df = pd.read_sql('SELECT * FROM aviation_data;', sql_engine)
print(df.head())

   id flight_date flight_status departure_airport departure_timezone  \
0   1  2025-03-08     scheduled    Haneda Airport         Asia/Tokyo
1   2  2025-03-08     scheduled    Haneda Airport         Asia/Tokyo
2   3  2025-03-08     scheduled    Haneda Airport         Asia/Tokyo
3   4  2025-03-08     scheduled    Haneda Airport         Asia/Tokyo
4   5  2025-03-08     scheduled    Haneda Airport         Asia/Tokyo

  departure_scheduled departure_estimated             arrival_airport  \
0 2025-03-08 08:15:00 2025-03-08 08:15:00  Tan Son Nhat International
1 2025-03-08 08:15:00 2025-03-08 08:15:00  Tan Son Nhat International
2 2025-03-08 08:15:00 2025-03-08 08:15:00  Tan Son Nhat International
3 2025-03-08 07:45:00 2025-03-08 07:45:00             Seoul (Incheon)
4 2025-03-08 07:45:00 2025-03-08 07:45:00             Seoul (Incheon)

   arrival_timezone   arrival_scheduled   arrival_estimated     airline_name  \
0  Asia/Ho_Chi_Minh 2025-03-08 13:05:00 2025-03-08 13:05:00       FlexFlight
1  Asia/Ho_Chi_Minh 2025-03-08 13:05:00 2025-03-08 13:05:00             None
2  Asia/Ho_Chi_Minh 2025-03-08 13:05:00 2025-03-08 13:05:00             None
3        Asia/Seoul 2025-03-08 10:35:00 2025-03-08 10:35:00  Virgin Atlantic
4        Asia/Seoul 2025-03-08 10:35:00 2025-03-08 10:35:00       Air France

  flight_number flight_icao
0          4821     FXT4821
1          2821      A12821
2          4012      H14012
3          5530     VIR5530
4          5367     AFR5367

In [31]:
print(df['id'].count())

620